@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body,html {
  margin:0;
  box-sizing:border-box;
}
.parent {
  position:relative;
	width: 100%; /* 100vh **/
	background: rgb(245,245,245);
}

.child {
  font-size:10vw;
  color:#fff;
	width: 100%;
	height: 100%;
	display: flex;
	background: rgb(245,245,245);
	z-index: 0;
}

.child--absolute {
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
	position: absolute;
	top: 0;
	left: 0;
	clip-path: polygon(100% 0, 0% 0%, 100% 100%);
	background: white;
	z-index: 4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family:
    PlusJakartaSans,
      sans-serif;
  }  

